:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #fff;
  --address-color: rgba(255, 255, 255, 0.6);
  --navigation-color: #2196f3;
  --primary-white-color: #fff;
  --background-color: #2f303a;
  --background-color2: #f5f5f5;
  --background-color3: #f5f4fa;
  --logo-color: #000000;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.44;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/*
.box {
  /* border: 5px solid teal;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
 outline: 2px dashed tomato;
  margin-bottom: 20px;
  padding-: 20px;
  
  height: 100px;
  background-color: green;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: 2px solid black;
  border-radius: 2px;
  background-color: green;
  text-decoration: none;
}
.btn:hover {
  color: #f5f5f5;
  background-color: #000000;
  border-color: teal;
}
.btn-icon {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background-color: skyblue;
  vertical-align: middle;
}
.box {
  height: 100px;
  width: 500px;
  background-color: palegoldenrod;
  margin: 0 auto;
}
*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid teal;*/
}

/*Header*/
.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header {
  background-color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--navigation-color);
}
.logotype {
  color: var(--navigation-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav{
  display: flex;
  align-items: center;
}
/*Site nav*/

.site-nav{
margin-left: 93px;
display: flex;
}
.site-nav .item{
  /*background-color: darkturquoise;
  margin-right: 50px;*/
}
.site-nav .item +.item{
  margin-left: 40px;
}

/*.site-nav .item:last-child{
  margin-right: 0;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}*/

.site-nav .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--navigation-color);
}
.site-nav .active {
  color: var(--navigation-color);
}
.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--navigation-color);
}
.contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.auth-nav .item +.item{
  margin-left: 50px;
}

/*Hero*/
.hero-title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
/*Section*/
.hero {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
/*Section*/

.features-list .title {
  color: var(--primary-text-color);
}
.paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-title2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 188px;
}
.section-hryak {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.button-hero {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  /* cursor: pointer;
  display: inline-block; */
}
.button-hero:active {
  background-color: var(--primary-white-color);
  color: #2196f3;
}
.button2 {
  color: var(--primary-text-color);
  background: var(--background-color3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}
.button2:hover,
.button2:focus {
  color: var(--primary-white-color);
  background-color: var(--navigation-color);
  border-radius: 4px;
}
.button2:active {
  background-color: var(--primary-white-color);
  color: var(--navigation-color);
}

.paragraph2 {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.paragraph3 {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.people {
  background: var(--background-color3);
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.title2 {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
/*Footer*/
.logo-footer {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logotype-footer {
  color: var(--navigation-color);
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--navigation-color);
}
.footer {
  background-color: var(--background-color);
}
.address:hover,
.address:focus {
  color: var(--navigation-color);
}
.city {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.city:hover,
.city:focus {
  color: var(--navigation-color);
}
.address {
  color: var(--address-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer {
  padding-top: 65px;
  padding-bottom: 65px;
